---
name: CI

'on':
  schedule:
    - cron: "0 0 * * *"
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: systemd/mkosi@v14
      - uses: actions/upload-artifact@v3
        with:
          path: mkosi.output/ubuntu~jammy/*.*
