---
name: CI

'on':
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DISTRIBUTION: ubuntu
      RELEASE: jammy
    steps:
      - run: sudo apt-get -y update
      - uses: tecolicom/actions-use-any-tools@v1
        with:
          apt: coreutils dosfstools e2fsprogs file gdisk lvm2 mkosi mount qemu-utils rsync systemd-container util-linux
      - run: printf 'IMAGE_ID=%s-%s-%s\n' "$DISTRIBUTION" "$RELEASE" "$RUNNER_ARCH" >> "$GITHUB_ENV"
      - run: printf 'IMAGE_VERSION=%(%Y-%m-%d)T\n' "-1" >> "$GITHUB_ENV"
      - run: printf 'IMAGE_OUTPUT_DIR=%s~%s\n' "$DISTRIBUTION" "$RELEASE" >> "$GITHUB_ENV"
      - run: printf 'IMAGE_NAME=%s_%s\n' "$IMAGE_ID" "$IMAGE_VERSION" >> "$GITHUB_ENV"
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: mkosi.cache
          key: ${{ env.IMAGE_ID }}
      - run: sudo mkosi --mirror http://azure.archive.ubuntu.com/ubuntu --image-version "$IMAGE_VERSION" --image-id "$IMAGE_ID" summary
      - run: sudo mkosi --mirror http://azure.archive.ubuntu.com/ubuntu --image-version "$IMAGE_VERSION" --image-id "$IMAGE_ID" --force build
      - uses: actions/upload-artifact@v3
        with:
          name: ${{ env.IMAGE_NAME }}.manifest
          path: mkosi.output/${{ env.IMAGE_OUTPUT_DIR }}/${{ env.IMAGE_NAME }}.manifest
          if-no-files-found: error
      - uses: actions/upload-artifact@v3
        with:
          name: ${{ env.IMAGE_NAME }}.qcow2
          path: mkosi.output/${{ env.IMAGE_OUTPUT_DIR }}/${{ env.IMAGE_NAME }}.qcow2
          if-no-files-found: error
            
